.card{
    width: 100%;
    height: 100%;
    background-color: var(--bg-thirdy);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    .img-target{
        height: inherit;
        width: inherit;
    }
    .img-default{
        font-size: calc(1.5 * 1vw);
    }
}