@use "@left-playlist/index.module.scss" as *;

.card{
    @extend %card-default;
    border: none;
}
.img-wrapper{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: var(--bg-thirdy);
    margin-right: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-target{
        object-fit: cover;
        height: 50px;
        width: 50px;
    }
    .img-default{
        color: var(--text-secondary);
        font-size: 1.5rem;
    }
}
.content-wrapper{
    .title{
        color: var(--text-primary);
        font-size: 0.9rem;
        margin-bottom: 0.3em;
    }
    .description{
        color: var(--text-secondary);
        font-size: 0.8rem;
    }
}

