.dropdown{
    position: absolute;
    top: 100%;
    left: 45%;

    width: 200px;
    border-radius: 3px;
    color: var(--text-primary);
    background-color: var(--bg-thirdy);

    .group{
        font-size: 0.6rem;
        padding: 4px;
        .group-title{
            padding: 16px 8px 12px 8px;
        }
        .group-options{
            font-size: 0.9rem;

            // & > * + *{
            //     margin-top: 1em;
            // }
            .group-option{
                display: flex;
                align-items: center;
                padding: 12px 8px;
                &:hover{
                    background-color: rgba(128,128,128, 0.5);
                }
                
                .group-img{
                    font-size: 1.5rem;
                    margin-right: 0.3em;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .group-img-check{
                    margin-left: auto;
                    font-size: 1.1rem;
                }
            }
            .selected{
                color: var(--primary-positive);
            }
        }
    }
}
hr{
    height: 0.5px;
    background-color: rgba(128,128,128, 0.5);
}