// $text-primary-light: black;
// $text-primary-dark: white;

// $text-secondary-light: rgb(70, 70, 70);
// $text-secondary-dark: rgb(160, 160, 160);

// $bg-primary-light: red;
// $bg-primary-dark: green;

// $bg-secondary-light: rgb(212, 212, 212);
// $bg-secondary-dark: rgb(34, 34, 34);

// .light-mode{
//     --text-primary: $text-primary-light;
//     --text-secondary: $text-secondary-light;
//     --bg-primary: red;
//     --bg-secondary: $bg-secondary-light;
// }

// .dark-mode{
//     --text-primary: $text-primary-dark;
//     --text-secondary: $text-secondary-dark;
//     --bg-primary: var(bg-primary-dark);
//     --bg-secondary: $bg-secondary-dark;
// }
:root{
    --text-primary-light: black;
    --text-primary-dark: white;
    
    --text-secondary-light: rgb(70, 70, 70);
    --text-secondary-dark: rgb(160, 160, 160);
    
    --bg-primary-light: white;
    --bg-primary-dark: black;
    
    --bg-secondary-light: rgb(212, 212, 212);
    --bg-secondary-dark: rgb(34, 34, 34);

    --bg-thirdy-dark: rgba(51,51,51,1);
    --bg-thirdy-light: red;

    --primary-positive: rgba(50, 168, 82, 1);
    --primary-negative: rgba(168, 50, 103, 1);
}


.light-mode{
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --bg-primary: var(--bg-primary-light);
    --bg-secondary: var(--bg-secondary-light);
    --bg-thirdy: var(--bg-thirdy-light);
}

.dark-mode{
    --text-primary: var(--text-primary-dark);
    --text-secondary: var(--text-secondary-dark);
    --bg-primary: var(--bg-primary-dark);
    --bg-secondary: var(--bg-secondary-dark);
    --bg-thirdy: var(--bg-thirdy-dark);
}