@mixin panel-default {
    background-color: var(--bg-secondary);
    border-radius: 0.8em;
    padding: 0.8em;
}
@mixin mq($width){
    @media screen and (max-width: $width){
        @content;
    }
}