$text-primary-light: black;
$text-primary-dark: white;

$text-secondary-light: rgb(70, 70, 70);
$text-secondary-dark: rgb(160, 160, 160);

$bg-primary-light: red;
$bg-primary-dark: green;

$bg-secondary-light: rgb(212, 212, 212);
$bg-secondary-dark: rgb(34, 34, 34);