@use "@styles/mixins.scss" as *;
$top-wrapper-hg: 90%;
$column-wd: 280px;

.main-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    color: white;
}

.top-wrapper{
    display: grid;
    gap: 0.5em;
    padding: 0.5em;
    grid-template-columns: 400px minmax(300px, 1fr) $column-wd;
    height: 90%;
    //flex-basis: $top-wrapper-hg;
    @include mq(960px){
        grid-template-columns: 75px minmax(300px, 1fr) $column-wd;
    };
}
.bottom-wrapper{
    height: 10%;
    //flex-basis: calc(100% - $top-wrapper-hg);
}