@use "@left-playlist/index.module.scss" as *;

.card{
    @extend %card-default;
}
.title{
    &::after{
        content: "Плейлист";
        color: var(--text-secondary);
        margin-left: 1em;
        font-size: 0.8rem;
    }
}