@use "@styles/mixins.scss" as *; 
@use "@home/modules/LeftPanel/index.module.scss" as *;

.top-panel{
    @include panel-default;
    flex-basis: min(120px, 30%);

    display: flex;
    flex-direction: column;

    .btn{
        @extend %btn-default;
        flex: 1;
        .btn-icon{
            @extend %btn-icon;
        }
    }
}